.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem;
  text-align: center;
}

.section {
  padding: 1rem;
}

select {
  width: 100px;
  height: 35px;
  margin: 0px 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: pointer;
}

button {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: cadetblue;
}

.dateSelect {
  display: flex;
  justify-content: center;
}

.contents {
  padding-right: 150px;
  padding-left: 150px;
}

.graph {
  margin-bottom: 100px;
}
